<p id="notice"><%= notice %></p>

<h1>Boks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Freez</th>
      <th>Start</th>
      <th>End</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boks.each do |bok| %>
      <tr>
        <td><%= bok.name %></td>
        <td><%= bok.freez %></td>
        <td><%= bok.start %></td>
        <td><%= bok.end %></td>
        <td><%= bok.content %></td>
        <td><%= link_to 'Show', bok %></td>
        <td><%= link_to 'Edit', edit_bok_path(bok) %></td>
        <td><%= link_to 'Destroy', bok, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bok', new_bok_path %>
