<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pook.name %>
</p>

<p>
  <strong>Freez:</strong>
  <%= @pook.freez %>
</p>

<p>
  <strong>Start:</strong>
  <%= @pook.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @pook.end %>
</p>

<p>
  <strong>Content:</strong>
  <%= @pook.content %>
</p>

<p>
  <strong>Post:</strong>
  <%= @pook.post %>
</p>

<%= link_to 'Edit', edit_post_pook_path(@pook) %> |
<%= link_to 'Back', post_pooks_path %>
