<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Start:</strong>
  <%= @post.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @post.end %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Freez:</strong>
  <%= @post.freez %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


<%= form_for Comment.new, url:post_comments_path(@post.id) do |f| %>
<%= f.label "평가" %>
<%= f.number_field :rating, min: 1, max: 5 %> <br>
<%= f.submit "작성" %>
<% end %> <br>

<%= @post.comments.average(:rating) %>

<% @post.comments.each do |comment| %>
  <%= comment.rating %>
<% end %>

<%= form_for Pook.new, url:post_pooks_path(@post.id) do |f| %>
<%= f.label "이름" %>
<%= f.text_field :name %> <br>
<%= f.label "시작" %>
<%= f.datetime_field :start %> <br>
<%= f.label "끝" %>
<%= f.datetime_field :end %> <br>
<%= f.label "냉장" %>
<%= f.check_box :freez %> <br>
<%= f.label "내용" %>
<%= f.text_area :content %> <br>
<%= f.submit "작성" %>
<% end %> <br>

<%= link_to '예약내역 보기', post_pooks_path(@post.id) %>